.cardType {
	/* border: 1px solid rgb(50, 73, 186); */
	width: 30vw;
	height: 80vh;
	color: white;
	margin: 15px;
	/* background: plum; */
	height: 80vh;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	transition: 0.4s;
	/* border: 3px solid green; */
}
.cardType:hover {
	transform: scale(1.03);
	/* border-radius: 15px; */
	border-radius: 10% 10% 45% 47% / 0% 0% 92% 100%;
}

.cardType {
	background: #096a09;
	/* background: url("../public/src/bar.jpg"); */
	background-size: cover;
	background-position: center;
	border-radius: 40% 40% 45% 45% / 51% 47% 10% 10%;
	/* border-radius: 10% 10% 45% 47% / 0% 0% 92% 100%  */
}
/* .cardType:nth-child(1) {
	background: purple;
	background-size: contain;
	background-position: center;
} */
/* .cardType:nth-child(1) {
	background: url("../public/src/\ grand-gesta-rosé.jpeg") no-repeat;
	background-size: contain;
	background-position: center;
} */

/* .cardType:nth-child(2) {
	background: purple;
	background-size: contain;
	background-position: center;
} */
/* .cardType:nth-child(3) {
	background: rgb(208, 195, 153);
	background-size: contain;
	background-position: center;
} */
/* .cardType:nth-child(4) {
	background: url("../public/src/casteler-merlot-rouge.jpeg");
	background-size: contain;
	background-position: center;
} */
/* .cardType:nth-child(5) {
	background: url("../public/src/casteler-merlot-rouge.jpeg");
	background-size: contain;
	background-position: center;
} */
/* .cardType:nth-child(6) {
	background: url("../public/src/cava-demi\ sec.jpeg");
	background-size: contain;
	background-position: center;
} */
/* .cardType:nth-child(7) {
	background: url("../public/src/\ grand-gesta-rosé.JPG");
	background-size: contain;
	background-position: center;
} */
/* .cardType:nth-child(8) {
	background: url("../public/src/cabernet\ sauvignon.jpeg");
	background-size: contain;
	background-position: center;
} */
.cardText {
	/* background: red; */
	width: 100%;
	margin: 18px;
	height: 70%;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: space-evenly;
	align-items: center;
}

.textInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.textInfo span {
	margin: 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}
.textInfo .title {
	text-align: center;
	font-size: clamp(1rem, 1.2vw, 1.4rem);
	font-weight: 600;
	text-transform: capitalize;
}
.textInfo .info {
	text-align: center;
	font-size: clamp(0.7rem, 0.8vw, 1rem);
	font-weight: 700;
	width: 50%;
}

.cardText button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background: black;
	color: #fff;
	font-weight: 600;
	font-size: clamp(0.7rem, 1vw, 1.2rem);
	transition-duration: 0.7s;
}

.cardText button:hover {
	color: black;
	background: white;
	border: 1px solid black;
}

@media screen and (max-width: 700px) {
	/* Rédigez vos propriétés CSS ici */
	.cardType {
		width: 100%;
		margin: 15px 0;
	}
}
