/* .main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 4rem 0;
} */

/* HEADER */

.homeTop {
	height: 100vh;
	background: url("../public/src/banner.jpg") no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.nav {
	padding: 20px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.nav span {
	font-size: clamp(0.8rem, 1.7vw, 2.2rem);
	font-weight: 700;
	/* font-size: clamp(10px, 2em, 18px); */
}

.btn {
	color: black;
	font-weight: 900;
}
.btn span {
	font-size: clamp(1rem, 2.5vw, 2rem);
	cursor: pointer;
}
.buy a:link,
.buy a:visited,
.buy a:active {
	text-decoration: none;
	color: black;
	/* color: white; */
}
.buy a:hover {
	text-decoration: none;
	color: white;
	/* color: black; */
}
.buy a {
	text-decoration: none;
	color: black;
}

.titleName p {
	padding: 3px;
	cursor: pointer;
	font-size: clamp(1rem, 2.5vw, 2rem);
	margin: 0;
	color: black;
	font-weight: 900;
	border: 1px solid black;
	backdrop-filter: blur(10px);
	border-radius: 3px;
}
/* .iconPlus {
	width: 15%;
	margin: 0 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.iconPlus span {
	cursor: pointer;
	color: black;
	font-weight: 900;
	margin: 5px;
	font-size: 20px;
	transition: 0.5s;
} */
.iconPlus span:hover {
	/* font-size: 23px; */
	color: purple;
	cursor: pointer;
}

.discover {
	display: flex;
	justify-content: space-between;
}

.focus {
	display: flex;
	flex-direction: column;
	margin: 50px;
	color: white;
	border: 1px solid black;
	backdrop-filter: blur(3px);
	padding: 5px;
	border-radius: 3px;
}

.focus span:nth-child(1) {
	font-size: clamp(1rem, 2.2vw, 2rem);
	font-weight: 600;
}

.focus span:nth-child(2) {
	font-size: clamp(1.5rem, 2.5vw, 2.5rem);
	font-weight: 700;
	text-transform: uppercase;
}
.btnChoice {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px;
}
.btnChoice button {
	text-transform: uppercase;
	width: 150px;
	border-radius: 6px;
	padding: 10px;
	margin: 15px;
	transition: 0.7s;
	border: none;
	font-weight: 900;
	transition: 0.3s;
}
.btnChoice button:hover {
	background: purple;
	color: white !important;
	border: 1px solid white;
}

.btnChoice button a:hover {
	color: white !important;
}

/* HEADER */

/* MAIN-TOP */
.mainTop {
	margin: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mainTopImg img {
	width: 100%;
	/* height: 250px; */
}
.mainTopImg {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.mainTopImg img {
	width: 80%;
}

.mainTopTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px 0;
}

.mainTopTitle .titleOne {
	padding: 10px;
	font-size: clamp(1rem, 2.5vw, 2rem);
	font-weight: 400;
}
.mainTopTitle .titleTwo {
	font-size: clamp(1rem, 2.5vw, 2rem);
	font-weight: 700;
}

.mainTopLink:link {
	text-decoration: none;
}
.mainTopLink a:visited,
.mainTopLink a:link,
.mainTopLink a:active {
	text-decoration: none;
	color: #fff;
}

.buy a:link,
.buy a:visited,
.buy a:active {
	text-decoration: none;
	color: black;
}

.mainTopLink a:visited:hover {
	text-decoration: none;
	color: black;
}

.mainTopLink button {
	width: 150px;
	border-radius: 5px;
	border: none;
	color: white;
	background: black;
	transition: 0.7s;
}
.mainTopLink button:hover {
	color: black;
	background: white;
	border: 1px solid black;
}

/* MAIN-TOP */

/* MAIN-CENTER */

.mainContent {
	/* background: wheat; */
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.card {
	border: 1px solid rgb(50, 73, 186);
	width: 40vw;
	height: 80vh;
	color: #000;
	margin: 15px;
}
/* MAIN-CENTER */

/* FOOTER */

.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: black;
	height: 100px;
	width: 100vw;
}

.linkFooter {
	font-weight: 700;
	font-size: clamp(0.3rem, 1vw, 1.5rem);
	cursor: pointer;
	color: white;
}

.linkFooter a:visited,
.linkFooter a:link,
.linkFooter a:active {
	text-decoration: none;
	color: white;
}

.textInfoAdmin {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.textContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	width: 100%;
}

.textContainer h2 {
	color: black;
}

.textInfoAdmin {
	color: white;
	font-size: clamp(1rem, 2.5vw, 2rem);
	transition: 0.5s;
	cursor: default;
}
.textInfoAdmin span:hover {
	color: purple;
}

.placecontainer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.placecard {
	background: wheat;
	border-radius: 20px;
	padding: 30px;
	width: 33%;
	height: auto;
	/* border: 1px solid red; */
}

.placecard h3 {
	font-size: clamp(0.5rem, 1.3vw, 1.5rem);
	color: black;
}

@media screen and (max-width: 700px) {
	/* Rédigez vos propriétés CSS ici */
	.discover,
	.mainContent {
		flex-direction: column;
	}

	.btnChoice {
		flex-direction: column;
	}
	.textInfoAdmin {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		align-content: center;
	}
	.footer {
		width: 100%;
	}
}
